<settings>
  <profiles>
    <profile>
      <id>securecentral</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>central</id>
          <!--url>http://central.maven.org/maven2</url-->
          <!--url>https://maven-central.storage.googleapis.com/repos/central/data/</url-->
          <url>http://uk.maven.org/maven2/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <!--url>http://central.maven.org/maven2</url-->
          <!--url>https://maven-central.storage.googleapis.com/repos/central/data/</url-->
          <url>http://uk.maven.org/maven2/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>
